.pgn-movelink:not( .pgn-current-move ) {
	cursor: alias;
}

.pgn-image-button {
	box-sizing: content-box;
	height: 26px;
	width: 26px;
	margin: 0.25em;
	padding: 3px;
	border: 1px solid #a2a9b1;
	border-radius: 6px;
	cursor: pointer;
	background-color: #f8f9fa;
	background-size: cover;
}

.pgn-image-button:hover {
	background-color: #fff;
}

.pgn-image-button[ aria-checked='true' ] {
	/* @noflip */
	box-shadow: inset 0 0 0 1px #36c;
}

.pgn-chessPiece {
	position: absolute;
	background-size: cover;
	/* @noflip */
	transition: left 700ms, top 700ms, opacity 700ms;
	min-width: 12.5%;
	max-width: 12.5%;
	min-height: 12.5%;
	max-height: 12.5%;
}

/* pieces */
.pgn-ptype-color-pl {
	/* @embed */
	background-image: url( ../resources/piece-pl.svg );
}

.pgn-ptype-color-pd {
	/* @embed */
	background-image: url( ../resources/piece-pd.svg );
}

.pgn-ptype-color-rl {
	/* @embed */
	background-image: url( ../resources/piece-rl.svg );
}

.pgn-ptype-color-rd {
	/* @embed */
	background-image: url( ../resources/piece-rd.svg );
}

.pgn-ptype-color-nl {
	/* @embed */
	background-image: url( ../resources/piece-nl.svg );
}

.pgn-ptype-color-nd {
	/* @embed */
	background-image: url( ../resources/piece-nd.svg );
}

.pgn-ptype-color-bl {
	/* @embed */
	background-image: url( ../resources/piece-bl.svg );
}

.pgn-ptype-color-bd {
	/* @embed */
	background-image: url( ../resources/piece-bd.svg );
}

.pgn-ptype-color-ql {
	/* @embed */
	background-image: url( ../resources/piece-ql.svg );
}

.pgn-ptype-color-qd {
	/* @embed */
	background-image: url( ../resources/piece-qd.svg );
}

.pgn-ptype-color-kl {
	/* @embed */
	background-image: url( ../resources/piece-kl.svg );
}

.pgn-ptype-color-kd {
	/* @embed */
	background-image: url( ../resources/piece-kd.svg );
}

/* buttons images */
.pgn-button-tostart {
	/* @embed */
	background-image: url( ../resources/button-first.svg );
}

.pgn-button-toend {
	/* @embed */
	background-image: url( ../resources/button-last.svg );
}

.pgn-button-play {
	/* @embed */
	background-image: url( ../resources/button-play.svg );
}

.pgn-button-advance {
	/* @embed */
	background-image: url( ../resources/button-next.svg );
}

.pgn-button-retreat {
	/* @embed */
	background-image: url( ../resources/button-previous.svg );
}

.pgn-button-faster {
	/* @embed */
	background-image: url( ../resources/button-faster.svg );
}

.pgn-button-slower {
	/* @embed */
	background-image: url( ../resources/button-slower.svg );
}

.pgn-button-flip {
	/* @embed */
	background-image: url( ../resources/button-flip.svg );
	transition: 500ms;
}

.pgn-button-play[ aria-checked='true' ] {
	/* @embed */
	background-image: url( ../resources/button-pause.svg );
}

.pgn-image-button:disabled {
	opacity: 0.3;
	cursor: auto;
}

/* Flipping */
.pgn-flip .pgn-board-div,
.pgn-flip .pgn-board-div div.pgn-row-legend span,
.pgn-flip .pgn-board-div div.pgn-file-legend span,
.pgn-flip .pgn-board-div .pgn-chessPiece,
.pgn-button-flip[ aria-checked='true' ] {
	transform: rotate( 180deg );
}

.pgn-piece-hidden {
	opacity: 0;
}

.pgn-piece-visible {
	opacity: 1;
}

/* [[קטגוריה:דפי סגנון של תבניות]] */
