<button class="pgn-image-button pgn-image-button-off pgn-button-tostart" title="{{beginning}}">
</button><button class="pgn-image-button pgn-button-retreat" title="{{previous}}">
</button><button class="pgn-image-button pgn-button-slower" title="{{slower}}">
</button><button class="pgn-image-button pgn-button-play" title="{{play}}" role="switch">
</button><button class="pgn-image-button pgn-button-faster" title="{{faster}}">
</button><button class="pgn-image-button pgn-button-advance" title="{{next}}">
</button><button class="pgn-image-button pgn-button-toend" title="{{final}}">
</button><button class="pgn-image-button pgn-button-flip" title="{{flip}}" role="switch">
</button>