<div class="pgn-board-div">
	<div class="pgn-board-img">
		{{#piece-set}}
		<div class="pgn-chessPiece pgn-ptype-color-{{piece-type}}{{piece-color}} pgn-prow-{{piece-rank}} pgn-pfile-{{piece-file}}"></div>
		{{/piece-set}}
	</div>
	<div class="pgn-row-legend pgn-row-left">
		<span class="pgn-row-legend pgn-prow-0">{{rank-1}}</span>
		<span class="pgn-row-legend pgn-prow-1">{{rank-2}}</span>
		<span class="pgn-row-legend pgn-prow-2">{{rank-3}}</span>
		<span class="pgn-row-legend pgn-prow-3">{{rank-4}}</span>
		<span class="pgn-row-legend pgn-prow-4">{{rank-5}}</span>
		<span class="pgn-row-legend pgn-prow-5">{{rank-6}}</span>
		<span class="pgn-row-legend pgn-prow-6">{{rank-7}}</span>
		<span class="pgn-row-legend pgn-prow-7">{{rank-8}}</span>
	</div>
	<div class="pgn-row-legend pgn-row-right">
		<span class="pgn-row-legend pgn-prow-0">{{rank-1}}</span>
		<span class="pgn-row-legend pgn-prow-1">{{rank-2}}</span>
		<span class="pgn-row-legend pgn-prow-2">{{rank-3}}</span>
		<span class="pgn-row-legend pgn-prow-3">{{rank-4}}</span>
		<span class="pgn-row-legend pgn-prow-4">{{rank-5}}</span>
		<span class="pgn-row-legend pgn-prow-5">{{rank-6}}</span>
		<span class="pgn-row-legend pgn-prow-6">{{rank-7}}</span>
		<span class="pgn-row-legend pgn-prow-7">{{rank-8}}</span>
	</div>
	<div class="pgn-file-legend pgn-file-top">
		<span class="pgn-file-legend pgn-pfile-0">{{a}}</span>
		<span class="pgn-file-legend pgn-pfile-1">{{b}}</span>
		<span class="pgn-file-legend pgn-pfile-2">{{c}}</span>
		<span class="pgn-file-legend pgn-pfile-3">{{d}}</span>
		<span class="pgn-file-legend pgn-pfile-4">{{e}}</span>
		<span class="pgn-file-legend pgn-pfile-5">{{f}}</span>
		<span class="pgn-file-legend pgn-pfile-6">{{g}}</span>
		<span class="pgn-file-legend pgn-pfile-7">{{h}}</span>
	</div>
	{{!This label goes across bottom, so height and width switch, but for end user convenience, we use label-height for width here}}
	<div class="pgn-file-legend pgn-file-bottom">
		<span class="pgn-file-legend pgn-pfile-0">{{a}}</span>
		<span class="pgn-file-legend pgn-pfile-1">{{b}}</span>
		<span class="pgn-file-legend pgn-pfile-2">{{c}}</span>
		<span class="pgn-file-legend pgn-pfile-3">{{d}}</span>
		<span class="pgn-file-legend pgn-pfile-4">{{e}}</span>
		<span class="pgn-file-legend pgn-pfile-5">{{f}}</span>
		<span class="pgn-file-legend pgn-pfile-6">{{g}}</span>
		<span class="pgn-file-legend pgn-pfile-7">{{h}}</span>
	</div>
</div>
