<div class="pgnviewer" id='chess-browser-div-{{div-number}}' data-chess='{{data-chess}}'>
	<div style="text-align:center">
		<table class="mw-collapsible mw-collapsed pgn-metadata-table mw-made-collapsible" style="margin:auto;text-align:left;">
			<tbody>
				<tr>
					<th colspan="2" style="text-align:center;">
						<span class="mw-collapsible-toggle mw-collapsible-toggle-default mw-collapsible-toggle-collapsed" role="button" tabindex="0" aria-expanded="false">
							<a class="mw-collapsible-text">
								{{expand-button}}
							</a>
						</span>
						{{game-detail}}
					</th>
				</tr>
				<tr style="display: none;">
					<td>{{event-label}}</td>
					<td>{{event}}</td>
				</tr>
				<tr style="display: none;">
					<td>{{site-label}}</td>
					<td>{{site}}</td>
				</tr>
				<tr style="display: none;">
					<td>{{date-label}}</td>
					<td>{{date}}</td>
				</tr>
				<tr style="display: none;">
					<td>{{round-label}}</td>
					<td>{{round}}</td>
				</tr>
				<tr style="display: none;">
					<td>{{white-label}}</td>
					<td>{{white}}</td>
				</tr>
				<tr style="display: none;">
					<td>{{black-label}}</td>
					<td>{{black}}</td>
				</tr>
				<tr style="display: none;">
					<td>{{result-label}}</td>
					<td>{{result}}</td>
				</tr>
				{{#other-metadata}}
					<tr style="display: none;">
						<td>{{label}}</td>
						<td>{{value}}</td>
					</tr>
				{{/other-metadata}}
			</tbody>
		</table>
		<div class="pgn-notations" style="scroll-behavior:smooth;">
			<p>
				<span class="pgn-movelink" data-ply="0">⚃</span>
				{{#move-set}}
					{{#step-link}}
						<span class="pgn-steplink">{{move-number}}</span>
					{{/step-link}}
					{{>move-span}}
				{{/move-set}}
			</p>
		</div>
		{{>ChessBoard}}
		<div class="pgn-controls" style="text-align: center;">
			<div class="pgn-image-button pgn-image-button-off pgn-button-tostart" title="{{beginning}}"></div>
			<div class="pgn-image-button pgn-image-button-off pgn-button-retreat" title="{{previous}}"></div>
			<div class="pgn-image-button pgn-image-button-off pgn-button-advance" title="{{next}}"></div>
			<div class="pgn-image-button pgn-image-button-off pgn-button-toend" title="{{final}}"></div>
			<div class="pgn-image-button pgn-image-button-off pgn-button-flip" title="{{flip}}"></div>
		</div>
		{{! Must be class because id would conflict with more than one board per page }}
		<div class="pgn-nojs-message" style="text-align: center;">
			<p>
				{{no-javascript}}
			</p>
		</div>
	</div>
</div>
